* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}
.exemplo {
    background-color:  rgb(221, 44, 221);
    width: 400px;
    height: 400px;
    border: 5px solid black;
    padding: 10px;
    margin: 20px;
}

